@page "/"

<PageTitle>Index</PageTitle>

<h1>Wellcome to my activities in C#!</h1>

Here I was create a set of exercices in C# to practicle this awesome programing languages.

<!--
    <SurveyPrompt Title="How is Blazor working for you?" />
-->
